.navbutton {
  background-color: lawngreen;
  padding: 11px 25px;
  width: 100px;
  text-align: center;
  display: inline-block;
  position: relative;
}

/* This turns the drop-down menu off when not used */
.dropdown-box {
  display: none;
  position: absolute;
  z-index: 100;
  padding-top: 20px;
  margin-left: -26px;
}

/* This turns the drop-down menu on when used */

.navbutton:hover .dropdown-box {
  display: block;
}

.dropdown-box .navbutton {
  background-color: aquamarine;
}

.dropdown-box .navbutton:hover {
  background-color: rgb(37, 226, 163);
  transition-duration: 500ms;
}